*.pyc
\.DS_Store

# Files create by generate_credentials.sh
*.bat
credentials.py

# File create by fetch/owncloud/fetch.sh
files
instances
meta_features

# Files created at runtime
waiting_too_long.*
firefox
features
run_feature
run_scenario
output
results
