bottle==0.12.20
credentials==1.1
cycler==0.10.0
extras==1.0.0
fixtures==3.0.0
funcsigs==1.0.2
fuzzywuzzy==0.18.0
Jinja2==2.11.3
lettuce==0.2.21
linecache2==1.0.0
lxml==4.9.0
MarkupSafe==1.1.1
matplotlib==1.5.1
mock==3.0.5
numpy==1.22.0
OERPLib==0.8.4
pbr==5.9.0
Pillow==6.2.2
pyparsing==2.4.7
python-dateutil==2.8.2
python-Levenshtein==0.10.2
python-mimeparse==1.6.0
python-subunit==1.4.0
pytz==2022.1
selenium==2.53.1
six==1.16.0
sure==2.0.0
testtools==2.4.0
traceback2==1.4.0
unittest2==1.1.0
openpyxl==2.4.11
